.password-check {
	width: 80%;
	margin-bottom: 30px;
	border-top: 2px solid transparent;
	border-image: linear-gradient(to right, transparent, #021a71, transparent) 1;
	padding-top: 20px;
	margin-bottom: 100px;
}

.input-cont {
	position: relative;
}

.passwords-input {
	width: 100%;
	height: 60px;
	padding: 0 150px 0 20px !important;
	font-size: 1.5rem;
	transition: outline 0.3s, box-shadow 0.3s;
}

.passwords-input::placeholder {
	color: #8896b6;
}

.password-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 15px;
	margin-top: 20px;
}

.password-block {
	padding: 12px 20px;
	background: linear-gradient(to bottom right, #001048 0%, #0B1A2B 100%);
	border-radius: 8px;
	text-align: start;
}

.password-alert {
	width: 100%;
}

.password-strength,
.password-cracktime {
	width: 45%;
}

.password-suggestion,
.password-warning {
	font-size: 1rem;
	font-weight: 400;
	text-align: start;
	margin-top: 3px;
}

.password-suggestion {
	color: rgb(255, 255, 0);
}

.password-warning {
	color: rgb(255, 0, 0);
}

.password-check-btns-cont {
	display: flex;
	justify-content: space-between;
	gap: 6px;
	width: 100%;
}

.password-check-upgrade-btn {
	right: 50px;
}

.password-check-clear-btn {
	width: 40px;
}

@media (max-width: 800px) {
	.password-check {
		width: 100%;
	}

	.password-info {
		flex-direction: column;
	}

	.password-block {
		width: 100%;
	}
}

@media (max-width: 540px) {

	.passwords-input {
		height: 45px;
		padding: 0 20px 0 20px !important;
	}

	.password-info,
	.password-suggestion,
	.password-warning {
		font-size: 0.9rem;
	}

	.password-check-upgrade-btn,
	.password-check-clear-btn {
		position: static;
		transform: translateY(0);
		margin: 10px 0;
	}

	.password-check-upgrade-btn {
		width: 100%;
		height: 35px;
	}

	.password-check-clear-btn {
		width: 35px;
		height: 35px;
	}
}