.details {
	display: flex;
	flex-direction: column;
	font-weight: 300;
	color: #FAFAFADE;
}

.details-item {
	font-size: 0.9rem;
	margin-bottom: 20px;
}

.details-tooltip {
	display: flex;
	align-items: center;
	gap: 10px;
}

.ip-details {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.details-item h1 {
	font-size: 1.25rem;
	padding: 3px 0;
	border-bottom: 2px #021a71 solid;
}

.details-cont {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 100%;
	max-height: 500px;
	overflow-y: auto;
	font-size: 0.8rem;
	font-weight: 400;
	margin-bottom: 20px;
}

.details-property {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 35%;
}

.details-desc {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 100%;
	font-size: 0.8rem;
}

.detail-desc {
	padding: 0 10px;
	border-left: 1px #0034EE solid;
	border-right: 1px #0034EE solid;
}

.details-desc-url span:last-child {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.details-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.details-info-file {
	display: flex;
	flex-direction: column;
}

.details-info-file strong {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 5px;
}

.details-desc-title {
	font-size: 0.9rem;
	font-weight: 700;
	margin-bottom: 5px;
}

.details-table {
	width: 90%;
	font-size: 0.9rem;
}

.popularity-table {
	width: 500px;
}

.popularity .details-table {
	width: 500px;
}

.nodata {
	font-size: 1.5rem;
	letter-spacing: 1px;
}