.navbar {
	position: relative;
	display: flex;
	gap: 20px;
	border-radius: 48px;
	background-color: transparent;
}

.navbar-link {
	position: relative;
	padding: 15px 25px;
	border-radius: 48px;
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
}

.navbar-active-bg {
	position: absolute;
	inset: 0;
	height: 5px;
	top: auto;
	bottom: 0;
	background-color: #0034EE;
	border-radius: 48px;
	z-index: -1;
}