.passwords-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.password-generator-cont {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.password-generator-wrapper {
	display: flex;
	gap: 20px;
	width: 100%;
	margin-bottom: 50px;
}