.password-generator {
	width: 60%;
}

.generate-input-cont {
	position: relative;
	margin-bottom: 20px;
}

.generate-input {
	outline: 2px #021a71 solid;
}

.generate-input:focus {
	outline: 2px #021a71 solid;
}

.generate-btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 36px;
	height: 36px;
	outline: 2px #021a71 solid;
	border-radius: 12px;
	background-color: transparent;
	transition: outline 0.3s;
}

.generate-btn:hover {
	outline: 2px #0034EE solid;
}

.btn-generate {
	right: 55px;
}

.generate-img {
	transition: transform 1s ease;
}

.btn-generate .generate-img {
	animation: rotate 1s ease;
}

.btn-copy {
	right: 10px;
	padding: 8px;
	transition: outline 0.3s, background-color 0.3s ease-in-out;
}

.copied-password--visible {
	background-color: #58b44e;
}

.generate-settings {
	width: 100%;
}

.password-generator-title {
	font-size: 0.9rem;
	font-weight: 400;
	text-align: start;
	margin-bottom: 16px;
}

.setting-range-cont {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 30px;
}

.setting-range-value {
	width: 70px;
	background-color: rgba(0, 52, 238, 0.1);
	color: #dee6ff;
	outline: 2px #021a71 solid;
	border: none;
	border-radius: 8px;
	transition: outline 0.3s;
	text-align: center;
}

.setting-range-value:focus {
	outline: 2px #0034EE solid;
}

.setting-range-value[type="number"]::-webkit-outer-spin-button,
.setting-range-value[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Для Firefox */
.setting-range-value[type="number"] {
	-moz-appearance: textfield;
}

/* Стили range-input'а */
.setting-range[type="range"] {
	cursor: pointer;
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #041c77;
	border-radius: 4px;
	outline: none;
	transition: background 0.3s;
}

.setting-range[type="range"]:hover {
	background: #0228b0;
}

.setting-range[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background: #c9d3fb;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s;
}

.setting-range[type="range"]::-webkit-slider-thumb:hover {
	background: #c9d3fb;
}

/* Для Firefox */
input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: #007bff;
	border-radius: 50%;
	cursor: pointer;
}

/* Для IE */
input[type="range"]::-ms-thumb {
	width: 20px;
	height: 20px;
	background: #007bff;
	border-radius: 50%;
	cursor: pointer;
}

.settings-list {
	display: -ms-grid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 28px;
	font-size: 18px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}