.about-cont {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
}

.about-intro {
	display: flex;
}

.about-img,
.about-title-cont {
	width: 50%;
}

.about-title-cont {
	margin-top: 40px;
}

.about-title {
	margin-bottom: 20px;
}

.about-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	margin-top: 30px;
}

.about-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	border-radius: 12px;
	background: linear-gradient(to bottom right, #001048 0%, #0B1A2B 100%);
	padding: 35px 15px 40px 20px;
}

.card-title-cont {
	display: flex;
	height: 40px;
	gap: 15px;
	margin-bottom: 20px;
}

.card-title {
	font-size: 1rem;
}

.card-subtitle {
	font-size: 0.9rem;
	margin-bottom: 16px;
}

.card-btn {
	padding: 5px 10px;
	color: #FAFAFA;
	background-color: #0034EE;
	border-radius: 12px;
}

@media (max-width: 1200px) {
	.about-intro {
		flex-direction: column;
		align-items: center;
	}

	.about-cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.about-img {
		width: 50%;

	}

	.about-title-cont {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 680px) {
	.about-cont {
		margin-bottom: 100px;
	}
}

@media (max-width: 600px) {
	.about-cards {
		grid-template-columns: repeat(1, 1fr);
	}
}