.threat-cont {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 20px;
}

.threat-info {
	margin-bottom: 20px;
}

.threat-subtitle {
	margin-bottom: 10px !important;
}

.threat-title {
	font-size: 2rem;
	margin-bottom: 24px;
	width: 80%;
}

.threat-example {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	border-top: 2px solid transparent;
	border-image: linear-gradient(to right, transparent, #021a71, transparent) 1;
	padding-top: 10px;
}

.threat-subtitle,
.threat-case,
.threat-solution,
.threat-result {
	width: 95%;
	margin-bottom: 5px;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.4;
}

.threat-image-cont {
	display: flex;
	justify-content: center;
}

@media (max-width: 1200px) {
	.threat-cont {
		grid-template-columns: repeat(1, 1fr);
	}

	.threat-image-cont {
		display: none;
	}

	.threat-title {
		width: 100%;
	}
}