.lang-selector {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	gap: 12px;
}

.lang-list {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 25px;
	gap: 5px;
	top: 120%;
	left: 0;
	width: 100%;
	z-index: 1;
}

.lang-item {
	cursor: pointer;
	transition: transform 0.3s;
}

.lang-item:hover {
	transform: scale(105%);
}