.pass-manager-btns {
	margin-bottom: 15px;
}

.pass-manager-btn {
	width: 200px;
	height: 50px;
	color: #FAFAFADE;
	background-color: transparent;
	border-bottom: 2px #021a71 solid;
	cursor: pointer;
}

.pass-manager--active,
.pass-manager-btn:hover {
	color: #c1c1ffde;
	border-bottom: 2px #0034EE solid;
}

.pass-manager-create-cont {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.pass-manager-title {
	font-size: 1rem;
	padding-left: 3px;
}

.pass-manager-input {
	width: 100%;
	height: 40px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.pass-manager-input::placeholder {
	color: #fafafa79;
}

.pass-manager-input--weak {
	color: #f73f29;
}

.pass-manager-input--medium {
	color: #ff9938;
}

.pass-manager-input--strong {
	color: #58b44e;
}

.pass-manager-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
	height: 350px;
}

.pass-manager-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: linear-gradient(to bottom right, #001048 0%, #0B1A2B 100%);
	padding: 10px;
	border-radius: 12px;
}

.pass-manager-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	margin-left: 8px;
}

.pass-manager-limit {
	width: 75px
}

.pass-manager-filter {
	width: 100%;
	padding: 0 10px;
}

.pass-manager-filter-input {
	width: 100%;
	height: 40px;
}

.pass-manager-show-pass {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	min-width: 40px;
	height: 40px;
	border-radius: 16px;
	color: #fff;
	background-color: #0034EE;
}

.pass-manager-show-pass img {
	width: 32px;
	height: 32px;
}

.pass-manager-item-info {
	width: 100%;
}

.pass-manager-additional-info {
	display: flex;
	gap: 10px;
	width: 100%;
	font-size: 0.75rem;
	border-bottom: 1px solid #021a71;
	padding-bottom: 6px;
	margin-bottom: 6px;
}

.pass-manager-site {
	word-break: break-all;
}

.pass-manager-item-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pass-manager-btn-copy,
.pass-manager-btn-delete {
	transition: background-color 0.3s;
	border-radius: 4px;
	border: none;
	position: relative;
	overflow: hidden;
}

.pass-manager-btn-copy::after,
.pass-manager-btn-delete::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, transparent, #1d46dc, transparent);
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.pass-manager-btn-copy::after {
	background: linear-gradient(to right, transparent, #22c222, transparent);
}

.pass-manager-btn-delete::after {
	background: linear-gradient(to right, transparent, #e82d2d, transparent);
}

.pass-manager-btn-copy:hover::after,
.pass-manager-btn-delete:hover::after {
	opacity: 1;
}

.pass-manager-btn-copy:hover,
.pass-manager-btn-delete:hover {
	color: #FAFAFADE;
	border: none;
}

@media (max-width: 560px) {
	.pass-manager-item {
		flex-direction: column;
	}
}

@media (max-width: 480px) {
	.pass-manager-btns {
		display: flex;
		flex-direction: column;
	}

	.pass-manager-btn {
		width: 100%;
	}
}