.account-page {
	display: flex;
	gap: 20px;
	max-width: 1000px;
	padding: 0 24px 10px 24px;
	margin: 0 auto;
}

.account-options {
	width: 20%;
}

.account-edit-settings {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.account-avatar {
	width: 100px;
}

.account-options-btns {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: start;
	border-top: 2px solid transparent;
	border-image: linear-gradient(to right, transparent, #0034EE, transparent) 1;
	padding-top: 6px;
}

.account-option-btn {
	width: 100%;
	cursor: pointer;
	padding: 8px;
}

.account-option-btn--active {
	border-bottom: 2px solid #007bff;
	color: #007bff;
	padding-top: -1px;
}

.account-option-logout {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.account-option-logout div {
	width: 100%;
	display: flex;
}

.account-option-logout div button {
	width: 50%;
	background-color: transparent;
	color: #FAFAFADE;
}

.account-option-logout div button:hover {
	background-color: #007bff;
	border-radius: 2px;
}

.account-option-logout--active {
	background-color: #0b54a269;
}

.account-content {
	width: 80%;
}

@media (max-width: 1040px) {
	.account-page {
		flex-direction: column;
		padding: 0 0 10px 0;
	}

	.account-options {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.account-options-btns {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		border-top: none;
		border-image: none;
		padding-top: 0;
	}

	.account-content {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.account-options {
		flex-direction: column;
	}
}