#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

body {
  overflow-x: hidden;
}

@media (max-width: 720px) {
  #root {
    padding: 0 15px;
  }
}

@media (max-width: 680px) {
  #root {
    background-color: #001048;
  }
}