/* Обнуление стилей */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
}

:where(ul, ol):where([class]) {
	padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
	margin: 0;
}

body {
	min-height: 100%;
	line-height: 1.5;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
}

input,
textarea,
select,
button {
	font: inherit;
}

button {
	cursor: pointer;
	border: none;
}

/* Стили HomePage (Домашней страницы) */
/* Общие стили лендинга */

.title {
	font-size: 2rem;
	line-height: 1.2;
}

.subtitle {
	font-size: 1rem;
	font-weight: 100;
}

.button {
	transition: background-color 0.2s ease;
}

.button:hover {
	background-color: #0b31bd;
}

/* Задний фон лендинг-компонентов */
.section::before,
.section::after {
	content: "";
	position: absolute;
	top: -50%;
	width: 150%;
	height: 150%;
	opacity: 0.6;
	z-index: -1;
}

.section::before {
	left: -50%;
	background: radial-gradient(circle, #01196e 0%, transparent 45%);
}

.section::after {
	right: -50%;
	background: radial-gradient(circle, #01196e 0%, transparent 45%);
}

/* Общий стиль */

input[type="text"] {
	color: #e0e6f4;
	background-color: rgba(0, 52, 238, 0.1);
	letter-spacing: 2px;
	border: none;
	border-radius: 16px;
	outline: 2px #021a71 solid;
	padding: 0 20px;
	transition: outline 0.3s;
}

input:focus {
	outline: 2px #0034EE solid;
}

.input-btn {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	height: 80%;
	border-radius: 16px;
	color: #fff;
	background-color: #0034EE;
}